* {
    padding: 0cap;
    margin: 0%;
    box-sizing: border-box;
}

.navbar {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 170, 148);
    color: white;
}

.heading {
    font-size: 25px;
}

.main {
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 255, 221);
    padding-bottom: 200px;
}
.checkbox{
display: flex;
justify-content: center;
}

.text {
    font-size: 25px;
    padding-bottom: 10px;
}

.span {
    font-size: 20px;
    margin: 20px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}

button {
    width: 80px;
    margin-top: 10px;
    font-size: 15px;
    justify-content: center;
    text-align: center;
}
